<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuddyConnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="back-button">
        <a href="{{ url_for('home') }}" style="text-decoration: none;">
            <button>Back</button>
        </a>
    </div>
<div class="container">
    <h2>Add New Event</h2>
    <form action="#" method="POST">
        <label for="eventName">Event Name</label>
        <input type="text" id="eventName" name="eventName" required>

        <label for="eventType">Event Type</label>
        <select id="eventType" name="eventType" required>
            <option value="">Select Event Type</option>
            <option value="tech">Tech Event</option>
            <option value="sports">Sports</option>
            <option value="concerts">Concert</option>
            <option value="art">Art Exhibition</option>
            <option value="networking">Networking</option>
        </select>

        <label for="venue">Venue</label>
        <input type="text" id="venue" name="venue" required>

        <label for="eventDate">Event Date</label>
        <input type="date" id="eventDate" name="eventDate" required>

        <div class="time-group">
            <div>
                <label for="startTime">Start Time</label>
                <input type="time" id="startTime" name="startTime" required>
            </div>
            <div>
                <label for="endTime">End Time</label>
                <input type="time" id="endTime" name="endTime" required>
            </div>
        </div>

        <label for="eventDescription">Event Description <span style="font-size: smaller;">(Include information about the event, the target audience, and relevant links)</span></label>
        <textarea id="eventDescription" name="eventDescription" rows="5" required></textarea>

        <button type="submit">Add Event</button>
    </form>
</div>

</body>
</html>
