<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuddyConnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form method="POST">
        <button type="submit" class="back-button">Logout</button>
    </form>

    <h1>BuddyConnect</h1>

    <button onclick="window.location.href='{{ url_for('new_event') }}'">Find Buddy for a New Event</button>

    <h2>Events you may be interested in:</h2>

    {% if context %}
    {% for event in context %}
    <div class="event-container">
        <h3>{{ event["eventName"] }}</h3>
        <p>{{ event["description"] }}</p>
        <a href="{{ url_for('event_details', eventID=event['eventID']) }}">More Details →</a>
    </div>
    {% endfor %}

    {% else %}
        <p>No events available at this time. Please check back later!</p>
    {% endif %}

</body>
</html>
