<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuddyConnect</title>
</head>
<body>

<div class="container">
    <h2>Login</h2>
    <form action="#" method="POST">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <p class="ques">Don't have an account?</p><button class="btn" type="submit" value="Signup" onclick="redirectSignup()">Sign Up</button>
    <script>
        function redirectSignup(){
            console.log("");
            window.location.href = "{{ url_for('register') }}";
        }
    </script>
</div>

</body>
</html>
